.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  max-width: 200px;
  max-height: 200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  overflow: hidden;
}

.featureImage {
  width: 160px;
  height: auto;
  margin: 0 auto 1rem;
  display: block;
}