.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.authorImage {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.bookCover {
  width: 100%;
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
}

.bookCover:hover {
  transform: scale(1.05);
}

.aboutAuthor, .bookStore {
  margin-top: 4rem;
}

.buyButton{
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
